* {
  margin: 0;
}


body {
  background: url(../images/background_anime-5.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 1920px;
}

.glava {
  text-align: center;
}


.main {
  text-align: center;
  display: inline-block;
  width: 700px;
  height: 1200px;
  background-color: #353a40;
  opacity: 0.8;
}

.conteiner {
  display: inline-block;
  text-align: center;
  
}

a {
  text-decoration: none;
  color: white;
  font-family: Arial Black;
}

.line-1 {
  padding-top: 30px;
}


.line-2 {
  padding-top: 30px;
}

.line-3 {
  padding-top: 100px;
}


button {
  background-color: #585D61;
  border: none;
  padding: 8px 10px;
  margin: 2px;
  text-align: center;
  display: inline-block;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #63D1F6;
  transform: scale(1.1);
}





