* {
	margin: 0;
}

body {
	text-align: center;
	background-image: url("../images/background_anime-4.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 1920px;
}


.main {
	padding-top: 100px;
	text-align: center;
	display: inline-block;
	height: 1000px;
	background-color: #353a40;
	opacity: 0.6;
}

.steam {
	background-color: #585D61; /* Зеленый цвет */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	transition: background-color 0.3s, transform 0.3s;
}

.steam:hover {
	background-color: #5e68e6;
	transform: scale(1.1);
}

.epicgames {
	background-color: #585D61; /* Зеленый цвет */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	transition: background-color 0.3s, transform 0.3s;
}

.epicgames:hover {
	background-color: #5e68e6;
	transform: scale(1.1);
}

.ubisoft-connect {
	background-color: #585D61; /* Зеленый цвет */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	transition: background-color 0.3s, transform 0.3s;
}

.ubisoft-connect:hover {
	background-color: #5e68e6;
	transform: scale(1.1);
}

.ea-app {
	background-color: #585D61; /* Зеленый цвет */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	transition: background-color 0.3s, transform 0.3s;
}

.ea-app:hover {
	background-color: #5e68e6;
	transform: scale(1.1);
}

.origin {
	background-color: #585D61; /* Зеленый цвет */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	transition: background-color 0.3s, transform 0.3s;
}

.origin:hover {
	background-color: #5e68e6;
	transform: scale(1.1);
}

.battle {
	background-color: #585D61; /* Зеленый цвет */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	transition: background-color 0.3s, transform 0.3s;
}

.battle:hover {
	background-color: #5e68e6;
	transform: scale(1.1);
}

.gog {
	background-color: #585D61; /* Зеленый цвет */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	transition: background-color 0.3s, transform 0.3s;
}

.gog:hover {
	background-color: #5e68e6;
	transform: scale(1.1);
}

.itch {
	background-color: #585D61; /* Зеленый цвет */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	transition: background-color 0.3s, transform 0.3s;
}

.itch:hover {
	background-color: #5e68e6;
	transform: scale(1.1);
}

.humblebundle {
	background-color: #585D61; /* Зеленый цвет */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	transition: background-color 0.3s, transform 0.3s;
}

.humblebundle:hover {
	background-color: #5e68e6;
	transform: scale(1.1);
}

.rockstargames {
	background-color: #585D61; /* Зеленый цвет */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	transition: background-color 0.3s, transform 0.3s;
}

.rockstargames:hover {
	background-color: #5e68e6;
	transform: scale(1.1);
}

.bethesda {
	background-color: #585D61; /* Зеленый цвет */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	transition: background-color 0.3s, transform 0.3s;
}

.bethesda:hover {
	background-color: #5e68e6;
	transform: scale(1.1);
}

.utomik {
	background-color: #585D61; /* Зеленый цвет */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	transition: background-color 0.3s, transform 0.3s;
}

.utomik:hover {
	background-color: #5e68e6;
	transform: scale(1.1);
}

.mygames {
	background-color: #585D61; /* Зеленый цвет */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	transition: background-color 0.3s, transform 0.3s;
}

.mygames:hover {
	background-color: #5e68e6;
	transform: scale(1.1);
}

.playstation {
	background-color: #585D61; /* Зеленый цвет */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	transition: background-color 0.3s, transform 0.3s;
}

.playstation:hover {
	background-color: #5e68e6;
	transform: scale(1.1);
}

.conteiner {
	display: inline-block;
	text-align: center;
	margin: 30px;
}

ol {
	font-size: 100px;
}

button {
	font-size: 20px;
}

a {
	text-decoration: none;
}
